body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.resume-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 600px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

h1 {
  font-size: 24px;
  margin: 0;
}

p {
  margin: 5px 0;
}

#phone{
  margin-left: -125px;

}

section {
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  color: #0073e6;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background-color: #f7f7f7;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}
#skills:hover {
  background-color: #1d8eff;
  color: #f7f7f7;
  cursor: pointer;
}

button {
  padding: 10px 15px;
  background-color: #2d96ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #005bb5;
}
